@font-face {
    font-family: 'Montserrat';
    font-display: auto;
    src: url('./fonts/Montserrat-Light.woff') format('woff'),
        url('./fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100vw;
    height: 100vh;
}
